@charset "utf-8";
/* CSS Document */


#tableHead{
	margin-left:100px;
		padding:5px 5px;
		border:5px solid red;
		color:#600;
	}
	
#detail{
		color:#030;
		font-weight:800;	
}


#userPhoto{
		margin-top:50px;
		margin-right:200px;
		float:right;
		padding:5px 5px;
		border:3px dotted #003;	
}

#userInfo{
		margin:20px 0 20px 0;
}


#update>a{
		color:#600;
		padding:5px;
		border:3px dotted #030;	
}



#delete>a{
	color:#600;
	padding:5px;
	border:3px dotted #030;
}

#foot{
		
  display:none;
}

#inse{
	margin-top:30px;
	font-weight:bold;
	text-decoration:none;
	color:#030;
	font-size:14px;
	padding:5px 5px;
	border:1px solid red;
}

#ir{
	text-align:right;
	
	font-weight:bold;
	font-size:18px;
}

#ir>a{
	text-decoration:none;
	color:#C00;	
	display:block;
}


#ir>a:focus{color:#030;}
#ir>a:hover{color:#030;}
#inse:active{}
#inse:link{}
#inse:visited{}
#inse:focus{background-color:#CCC;}
#inse:hover{background-color:#CCC;}


#users>a{
	display:block;
	color:#006;
	font-weight:bold;
	text-align:center;
	border:3px solid #030;
}
